

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Fugaz One", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item-checkbox{
  accent-color: rgb(59 130 246 / 0.5);
}





.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; 
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
